@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 98%;
  padding: 20px;
  margin-bottom: -15px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar {
  width: 100%;
  height: 40px;
  padding: 20px;
  border: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
}

#navbar ul li a {
  text-decoration: none;
  color: black;
}

#navbar ul li a:focus {
  color: rgb(4, 103, 233);
}

#navbar ul li a:active {
  color: rgb(4, 103, 233);
}

#navbar ul li:nth-child(1) {
  width: 70px;
  border-right: 2px solid #000;
}

#navbar ul li:nth-child(2) {
  width: 70px;
  border-right: 2px solid #000;
}

#date {
  width: 95%;
  height: 25px;
  padding: 5px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  color: #000;
}

#section_list {
  width: 95%;
  text-align: center;
}

#section_list h1,
#add_section h1,
#contact_section h1 {
  margin: 80px 0 20px 0;
  font-size: 2rem;
}

#book_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40px;
  border: 2px solid black;
}

#section_list #book_list li {
  width: 99%;
  height: 30px;
  margin: 5px auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._title {
  width: 30%;
  padding-left: 5px;
  text-align: start;
}

._author {
  width: 64%;
  padding-left: 5px;
  text-align: start;
}

.rm_book {
  width: 70px;
  height: 30px;
}

#add_section {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#_add_book {
  width: 70%;
  margin-top: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#_add_book input {
  height: 30px;
  width: 100%;
  outline: none;
  padding: 5px;
  border: 1px solid #000;
  margin: 10px auto;
}

#_add_book button {
  width: 50px;
  height: 30px;
  align-self: flex-end;
}

#contact_section h1 {
  margin-top: 80px;
  text-align: center;
}

#contact_section .contact_info_container {
  margin-top: 80px;
}

#contact_section .contact_info_container ul {
  margin: 20px 40px auto;
}

.footer {
  position: absolute;
  width: 95%;
  height: 40px;
  padding: 0 20px;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 2px solid #000;
  bottom: 10px;
}

._display_f_ {
  display: none !important;
}
